In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px

In [26]:
#creating dataframe
titanic_= pd.read_csv('/content/drive/MyDrive/titanic_data/train.csv')

In [27]:
titanic_.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
#drop irrelevant columns:
#PassengerId- it is like index only
#Name,Ticket,Cabin- We can not encode these attributes as a no. for our model
#Fare can not decide a person will survive or not
titanic_.drop(columns=['PassengerId','Name','Ticket','Cabin','Fare'],inplace= True)

In [29]:
titanic_.head()

   Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [30]:
#convert categorical variables to dummy variables(one hot encoding- converting non-related
#categories into numbers)
#We have dropped first column  of each categorical variable.
titanic_= pd.get_dummies(titanic_,drop_first= True)

In [31]:
titanic_.head()

   Survived  Pclass   Age  SibSp  Parch  Sex_male  Embarked_Q  Embarked_S
0         0       3  22.0      1      0         1           0           1
1         1       1  38.0      1      0         0           0           0
2         1       3  26.0      0      0         0           0           1
3         1       1  35.0      1      0         0           0           1
4         0       3  35.0      0      0         1           0           1

In [33]:
#check for na values
titanic_.isna().any()

Survived      False
Pclass        False
Age            True
SibSp         False
Parch         False
Sex_male      False
Embarked_Q    False
Embarked_S    False
dtype: bool

In [34]:
#from above we can conclude that only Age column has null value
#use data imputation technique(filling missing values)
titanic_.Age.fillna(titanic_.Age.mean(),inplace= True)

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
x= titanic_.columns[1:]
print(x)

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Sex_male', 'Embarked_Q',
       'Embarked_S'],
      dtype='object')

In [37]:
y= titanic_.columns[0]

In [38]:
#splitting dataset into training and testing data
train_x,test_x,train_y,test_y= train_test_split(titanic_[x],titanic_[y],test_size=0.2)

In [39]:
#using naive baye's to predict
from sklearn.naive_bayes import GaussianNB

In [40]:
#creating an object of model
model= GaussianNB()

In [41]:
#training the model
model.fit(train_x,train_y)

GaussianNB()

In [43]:
#get the score(accuracy)
model.score(test_x,test_y)

0.7988826815642458

In [44]:
#get f1 score
from sklearn.metrics import f1_score

In [45]:
#predicting values using model
predicted_y= model.predict(test_x)

In [46]:
f1_score(test_y,predicted_y)

0.7230769230769231